<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/css/common-style.css" rel="stylesheet">
    <link href="/static/css/inventory-style.css" rel="stylesheet">
    <script defer src="/static/js/item-script.js"></script>
</head>
<body>

<header>
    <img alt="Logo" src="/static/images/logo.png"/>
    <nav>
        <a href="../index.html">Home</a>
        <a href="order.html">Add Order</a>
        <a href="repair.html">Add Repair</a>
        <a href="survey.html">Add Survey</a>
    </nav>
</header>

<section>
    <div><h1>Add Item</h1></div>

    <div class="container">
        <form name="item-insert-form">

            <div class="row">
                <div class="col-25">
                    <label for="item-name">Item Name</label>
                </div>
                <div class="col-75">
                    <input id="item-name" name="itemName" placeholder="Enter item name.." type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="type-name">Type Name</label>
                </div>
                <div class="col-75">
                    <select id="type-name" name="typeName">
                        <option selected value="">Select Item Type</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="voucher-no">Voucher No.</label>
                </div>
                <div class="col-75">
                    <input id="voucher-no" name="voucherNo" placeholder="Enter voucher Number.." type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="quantity">Quantity</label>
                </div>
                <div class="col-75">
                    <input id="quantity" name="quantity" placeholder="Enter Item quantity.." type="number">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="supplier-name">Supplier Name</label>
                </div>
                <div class="col-75">
                    <select id="supplier-name" name="supplierName">
                        <option selected value="">Select Item Supplier</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="received-date-in-add-item">Received Date</label>
                </div>
                <div class="col-75">
                    <input id="received-date-in-add-item" name="receivedOn" placeholder="Enter Date.."
                           type="date">
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>

        </form>
    </div>
</section>

<section>
    <div><h1>View All Items</h1></div>

    <div class="container">

        <form onsubmit="return false;">
            <div class="row">
                <input onclick="loadItems()" type="submit" value="View All">
            </div>
        </form>

        <div class="table-wrap">
            <table id="items-table">
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Type Name</th>
                    <th>Voucher No.</th>
                    <th>Quantity</th>
                    <th>Supplier Name</th>
                    <th>Received Date</th>
                </tr>
                <!-- Table body will be filled by JavaScript -->
            </table>
        </div>

    </div>
</section>

<section>
    <div><h1>View Items By Date</h1></div>

    <div class="container">

        <form name="date-input-form">

            <div class="row">
                <div class="col-25">
                    <label for="received-date-in-view-items">Received Date</label>
                </div>
                <div class="col-75">
                    <input id="received-date-in-view-items" name="receivedOn" placeholder="Enter Received Date.."
                           type="date">
                </div>
            </div>

            <div class="row">
                <input onclick="loadFilteredItems()" type="submit" value="View">
            </div>

        </form>

        <div class="table-wrap">
            <table id="filtered-items-table">
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Type Name</th>
                    <th>Voucher No.</th>
                    <th>Quantity</th>
                    <th>Supplier Name</th>
                </tr>
                <!-- Table body will be filled by JavaScript -->
            </table>
        </div>

    </div>
</section>

<section>
    <div><h1>Update Item</h1></div>

    <div class="container">
        <form name="item-update-form">

            <div class="row">
                <div class="col-25">
                    <label for="item-id">Item ID</label>
                </div>
                <div class="col-75">
                    <input id="item-id" name="itemId" placeholder="Enter Item ID.." type="number">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="updated-quantity">Updated Quantity</label>
                </div>
                <div class="col-75">
                    <input id="updated-quantity" name="quantity" placeholder="Enter Updated Item quantity.."
                           type="number">
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Update">
            </div>

        </form>
    </div>

</section>

<footer>
    <p><a href="https://github.com/thommadurasahan/School-Inventory-Management.git">Check Our Spring Boot
        GitHub Project</a></p>
</footer>

</body>
</html>