<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/common-style.css" rel="stylesheet">
    <link href="/css/survey-style.css" rel="stylesheet">
</head>
<body>

<header>
    <img alt="Logo" src="/images/logo.png"/>
    <nav>
        <a href="item.html">Add Item</a>
        <a href="order.html">Add Order</a>
        <a href="repair.html">Add Repair</a>
        <a href="survey.html">Add Survey</a>
    </nav>
</header>

<footer>
    <p><a href="https://github.com/thommadurasahan/School-Inventory-Management.git">Check Here Our Spring Boot
        GitHub Project</a></p>
</footer>

</body>
</html>